a{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    color: black;
}
a:hover{
    font-weight: bold;
    background-color: blue;
}
a:active{
    background-color: yellow;
    color: red;
}
a:visited{
    background-color: black;
    color: white;
}